<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Public/Styles/landing.css">
    <link rel="shortcut icon" href="../Public/Images/truck.png" type="image/x-icon">
    <title>Landing Page - LA7AGLI</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../Public/Images/truck.png" alt="logo">
        </div>
        <div class="nav-buttons">
            <a href="">
                <div class="nav-button">New Order</div>
            </a>
            <a href="">
                <div class="nav-button">All Clients</div>
            </a>
            <a href="">
                <div class="nav-button">All Products</div>
            </a>
            <a href="">
                <div class="nav-button" id="profile">Profile</div>
            </a>
        </div>
    </nav>

    <main>
        <h2>Statistics</h2>
        <div class="stats">
            <div class="stat" id="all-price"></div>
            <div class="stat" id="day-price"></div>
            <div class="stat" id="all-count"></div>
            <div class="stat" id="day-count"></div>
        </div>
        <h2>Create Order</h2>
        <form action="" method="post">
            <div class="new-order-form" id="new-order-form">
                <label for="clientName">Client Name:</label>
                <input type="text" name="client-name" id="client-name" placeholder="Client Name">
                <label for="product-name">Products:</label>
                <input type="text" name="product-name" id="product-name" placeholder="Product Name">
                <label for="product-price">Price:</label>
                <input type="number" name="product-price" id="product-price" placeholder="Product Price">
                <label for="product-count">Quantity:</label>
                <input type="number" name="product-count" id="product-count" placeholder="Product Count">
                <input type="submit" id="submit" value="Add Order" >
            </div>
        </form>
    </main>

</body>
</html>