@font-face {
    font-family: "SF Pro";
    src: url("../fonts/SF-Pro/SFPRODISPLAYREGULAR.OTF") format("OpenType");
}

:root {
    --background-grey: #f5f5f3;
    --logo-blue: #497cbe;
    --green: #a2cc50;
    --button-blue: #4269b4;
    --orange: #ff8800;
    --light-orange: #ffbb33;
    /* --primary-dark: #497cbe;
          --secondary-lighter: #6ac7f2; */
    --primary-dark: var(--orange);
    --secondary-lighter: var(--light-orange);

    --text-color: #030036;

    --font-family: "SF Pro", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: large;
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-dark);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ede9f0;
}

/* ------------------------------------------------------------------------------------------------- */

nav {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    color: #070707;
    padding: 7px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

.logo {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 10%;
    letter-spacing: 1rem;
}

.logo img {
    height: 100%;
    display: inline;
}

.product-info {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-buttons {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

/* ------------------------------------------------------------------------------------------------- */

a {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}

.button::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--orange);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}

a:hover {
    cursor: pointer;
}

a:hover .button::after {
    transform: scaleX(1);
}

/* ------------------------------------------------------------------------------------------------- */

main {
    padding: 0 18px;
}

/* ------------------------------------------------------------------------------------------------- */

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    background-color: var(--primary-dark);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: var(--secondary-lighter);
}

form input[type="submit"]:active {
    transform: scale(0.9);
    opacity: 0.6;
}

#search-form {
    margin: 60px;
}

form label {
    font-size: 20px;
    text-align: right;
    display: block;
    margin-right: 20px;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------- */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

th,
td {
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--primary-dark);
    color: white;
}

tr:nth-child(even) {
    background-color: #fff8e6;
}

button {
    display: inline-block;
    background-color: var(--primary-dark);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 4px 2px;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: var(--secondary-lighter);
}

button:active {
    transform: scale(0.9);
    opacity: 0.6;
}